@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom priority colors */
.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: green;
}

li {
  margin: 10px 0;
  padding: 10px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}
